In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [2]:
ratings=pd.read_csv('/content/BX-Book-Ratings.csv',error_bad_lines=False,sep=';',encoding='latin-1')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [3]:
books=pd.read_csv('/content/BX-Books.csv',error_bad_lines=False,sep=';',encoding='latin-1',engine='python')
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [4]:
users=pd.read_csv('/content/BX-Users.csv',error_bad_lines=False,sep=';',encoding='latin-1')
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
count_users=ratings['User-ID'].value_counts()

In [6]:
selected_users=ratings[ratings['User-ID'].isin(count_users[count_users>200].index)]

In [7]:
selected_users.head()

      User-ID        ISBN  Book-Rating
1456   277427  002542730X           10
1457   277427  0026217457            0
1458   277427  003008685X            8
1459   277427  0030615321            0
1460   277427  0060002050            0

In [8]:
ratings['User-ID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
158698        1
17920         1
277135        1
275086        1
187812        1
Name: User-ID, Length: 105283, dtype: int64

In [9]:
selected_users['User-ID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
28634       201
155916      201
268622      201
274808      201
188951      201
Name: User-ID, Length: 899, dtype: int64

In [10]:
ratings.shape

(1149780, 3)

In [11]:
selected_users.shape

(526356, 3)

In [12]:
df=pd.merge(selected_users,books,on='ISBN')
df=df.drop(columns=['Book-Author','Year-Of-Publication','Publisher','Image-URL-S','Image-URL-M','Image-URL-L'])

In [13]:
df.head()

   User-ID  ...                                         Book-Title
0   277427  ...  Politically Correct Bedtime Stories: Modern Ta...
1     3363  ...  Politically Correct Bedtime Stories: Modern Ta...
2    11676  ...  Politically Correct Bedtime Stories: Modern Ta...
3    12538  ...  Politically Correct Bedtime Stories: Modern Ta...
4    13552  ...  Politically Correct Bedtime Stories: Modern Ta...

[5 rows x 4 columns]

In [14]:
df_1=df.groupby(['Book-Title'])['Book-Rating'].count().reset_index().rename(columns={'Book-Rating':'rating_count'})

In [15]:
df_1.head()

                                          Book-Title  rating_count
0   A Light in the Storm: The Civil War Diary of ...             2
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Beyond IBM: Leadership Marketing and Finance ...             1
4   Clifford Visita El Hospital (Clifford El Gran...             1

In [17]:
df_2=pd.merge(df,df_1,on='Book-Title',how='left')

In [18]:
df_2.head()

   User-ID  ... rating_count
0   277427  ...           82
1     3363  ...           82
2    11676  ...           82
3    12538  ...           82
4    13552  ...           82

[5 rows x 5 columns]

In [19]:
print(df_2['rating_count'].describe())

count    486584.000000
mean         21.141225
std          37.114043
min           1.000000
25%           2.000000
50%           6.000000
75%          22.000000
max         363.000000
Name: rating_count, dtype: float64

In [20]:
df_3=df_2.query('rating_count>50')

In [21]:
df_3.head()

   User-ID  ... rating_count
0   277427  ...           82
1     3363  ...           82
2    11676  ...           82
3    12538  ...           82
4    13552  ...           82

[5 rows x 5 columns]

In [22]:
df_4=pd.merge(df_3,users,on='User-ID',how='left')
df_4.drop('Age',axis=1,inplace=True)
df_4.head()

   User-ID        ISBN  ...  rating_count                   Location
0   277427  002542730X  ...            82      gilbert, arizona, usa
1     3363  002542730X  ...            82  knoxville, tennessee, usa
2    11676  002542730X  ...            82              n/a, n/a, n/a
3    12538  002542730X  ...            82      byron, minnesota, usa
4    13552  002542730X  ...            82    cordova, tennessee, usa

[5 rows x 6 columns]

In [23]:
df_4=df_4[df_4['Location'].str.contains('usa|canada')]

In [37]:
df_4.head()

   User-ID        ISBN  ...  rating_count                       Location
0   277427  002542730X  ...            82          gilbert, arizona, usa
1     3363  002542730X  ...            82      knoxville, tennessee, usa
3    12538  002542730X  ...            82          byron, minnesota, usa
4    13552  002542730X  ...            82        cordova, tennessee, usa
5    16795  002542730X  ...            82  mechanicsville, maryland, usa

[5 rows x 6 columns]

In [43]:
from scipy.sparse import csr_matrix
df_5=df_4.drop_duplicates(['User-ID','Book-Title'])

In [44]:
df_5.head()

   User-ID        ISBN  ...  rating_count                       Location
0   277427  002542730X  ...            82          gilbert, arizona, usa
1     3363  002542730X  ...            82      knoxville, tennessee, usa
3    12538  002542730X  ...            82          byron, minnesota, usa
4    13552  002542730X  ...            82        cordova, tennessee, usa
5    16795  002542730X  ...            82  mechanicsville, maryland, usa

[5 rows x 6 columns]

In [98]:
pivot_table=df_5.pivot(index='Book-Title',columns='User-ID',values='Book-Rating').fillna(0)

In [99]:
pivot_table

User-ID                                             254     ...  278418
Book-Title                                                  ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Wuthering Heights                                      0.0  ...     0.0
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
Zoya                                                   0.0  ...     0.0

[700 rows x 731 columns]

In [100]:
csr_train= csr_matrix(pivot_table.values)

In [145]:
from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
trained=model_knn.fit(csr_train)

In [155]:
from sklearn.externals import joblib

joblib.dump(trained,'book_recommendation_engine.pkl')

['book_recommendation_engine.pkl']

In [156]:
new=joblib.load('book_recommendation_engine.pkl')

In [157]:
distances, indices = new.kneighbors(pivot_table.loc['1984',:].values.reshape(1, -1), n_neighbors = 6)

In [158]:
for i in range(1,6):
  print(pivot_table.index[indices.flatten()[i]],round(distances.flatten()[i],4))

The Handmaid's Tale 0.7091
Animal Farm 0.7188
The Catcher in the Rye 0.7367
The Vampire Lestat (Vampire Chronicles, Book II) 0.7502
The Fellowship of the Ring (The Lord of the Rings, Part 1) 0.7541

In [159]:
def get_recommendations(book_name):

  recommendation_list=[]
  distances, indices = new.kneighbors(pivot_table.loc[book_name,:].values.reshape(1, -1), n_neighbors = 6)
  [recommendation_list.append(pivot_table.index[indices.flatten()[i]]) for i in range(1,6)]
  
  return recommendation_list

In [162]:
get_recommendations('1984')

["The Handmaid's Tale",
 'Animal Farm',
 'The Catcher in the Rye',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'The Fellowship of the Ring (The Lord of the Rings, Part 1)']